<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.db.repository.IBoardMapper">

	<!-- DB컬럼명과 VO이 필드명을 맞추는 ResultMap 선언 -->
	<resultMap type="com.spring.db.model.BoardVO" id="BoardMap">
		<id property="board_no" column="board_no" />
	</resultMap>

	<insert id="insertArticle">
		INSERT INTO jdbc_board
		VALUES (bid_seq.NEXTVAL,
		#{board_no},#{writer},#{title},#{content})
	</insert>

	<select id="getArticles" resultMap="BoardMap">
		SELECT * FROM jdbc_board
		ORDER BY board_no DESC
	</select>

	<select id="getArticle" resultMap="BoardMap">
		SELECT * FROM jdbc_board
		WHERE
		board_no=#{bId}
	</select>

	<select id="deleteArticle">
		DELETE FROM jdbc_board
		WHERE board_no=#{board_no}
	</select>

	<select id="updateArticle" resultMap="BoardMap">
		UPDATE jdbc_board SET
		writer=#{writer}, title=#{title}, content=#{content}
		WHERE
		board_no=#{board_no}
	</select>

	<select id="searchList" resultMap="BoardMap">
		SELECT * FROM jdbc_board
		WHERE writer LIKE #{keyword}
	</select>
</mapper>